body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  height: 64px;

  img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 14px;
  }

  .title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    color: #ffffff;
  }
}

.weather {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  font-size: 18px;

  .weather-title,
  .weather-vis,
  .temp-max,
  .temp-min {
    display: flex;

    .weather-label {
      margin-right: 4px;
    }

    .weather-value {
      margin-right: 4px;
      color: skyblue;
    }
  }

  .right {
    margin-right: 12px;
  }

  .weather-tips {
    margin-left: 12px;
    font-size: 12px;
  }
}