.home-page {
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  justify-content: space-between;

  .icon {
    width: 100%;
    text-align: center;
  }

  .title {
    text-align: center;
    padding: 12px;
    font-size: 36px;
    background-image: linear-gradient(60deg, #E21143, #FFB03A);
    -webkit-background-clip: text;
    color: transparent;
    width: 100%;
  }

  .icp {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}